@model List<StackOverflowProject.ViewModels.QuestionViewModel>
@{
    ViewBag.Title = "Search";
}

<div class="row mt-1">
    <div class="col-sm-12">
        <h3>Search Results for @ViewBag.str</h3>
        <table class="table">
            @foreach (var item in Model)
            {
                Html.RenderPartial("Question", item);
            }
        </table>
        <a href="/allquestions" class="btn btn-primary">Back</a>
    </div>
</div>

<script>
    $("a[href='/allquestions']").attr("id", "active");
</script>

